* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    /* background: var(--color-bg); /
    / background: #252525; */
    background: #1D96FE;
    color: var(--color-white);
    line-height: 1.7;
}